PROJECT_NAME=fake_data_platform
ENV=dev

TIMEZONE=UTC
START_DATE=2024-01-01
END_DATE=2025-12-31

NUM_SITES=10
DATA_FREQUENCY_MINUTES=1

POSTGRES_DB=POSTGRES_DB
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_HOST=db
POSTGRES_PORT=5432

PGADMIN_EMAIL=PGADMIN_EMAIL
PGADMIN_PW=PGADMIN_PW

API_HOST=0.0.0.0
API_PORT=8000